---
import logo from '../assets/logo-wap-full.svg?raw';

// Remove fixed width/height for responsiveness
const responsiveLogo = logo
	.replace(/width="(\d+)"/, 'width="100%"')
	.replace(/height="(\d+)"/, 'height="auto"');
---

<div class="flex items-center" {...Astro.props}>
	<Fragment set:html={responsiveLogo} />
</div>
